.center{
    position:absolute;
    width:700px;
    height:600px;
    top:50%;
    left:50%;
    margin-left:-350px;
    margin-top:-250px;  

}
.modalmask {
    position: fixed;
    font-family: Arial, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}
.modalmask:target {
    opacity:1;
    pointer-events: auto;
}
.modalbox{
    width: 400px;
    position: relative;
    padding: 5px 20px 13px 20px;
    background: #fff;
    border-radius:3px;
    -webkit-transition: all 500ms ease-in;
    -moz-transition: all 500ms ease-in;
    transition: all 500ms ease-in;
    
}

.movedown {
    margin: 0 auto;
}

.modalmask:target .movedown{        
    margin:20% auto;
}

.close {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: 1px;
    text-align: center;
    top: 1px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    border-radius:3px;
    font-size:16px;
}

.close:hover { 
    background: #FAAC58; 
    color:#222;
}

ul{
    width:500px;
    margin:20% auto;
    list-style:none;
}
ul li{

    float:left;
    margin-right:35px;

}
ul li a{
    font-family: Arial, sans-serif;
    font-size:16px;
    text-decoration:none;
    background:#222;
    padding:20px;
    color:#fff;
    font-weight:bold;
    border-radius:3px;
    -webkit-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
    transition: all 200ms ease-in;
}
ul li a:hover{
    background:#FAAC58;
    color:#222;

}

a{
    text-decoration:none;
    font-family: 'Black Ops One', cursive;
    font-size: 18px;
    color:#222;

}
a:hover{

    color:#DF7401;
    
}
.nsc{
    position:absolute;
    bottom:40%;
    right:0;
}