@media only screen and (min-width: 601px) {
  .contenedor {
    margin: 0 auto;
    max-width: 1240px;
    width: 91.5%;
  }
}
.navbar-fixed {
  padding-left: 0px !important;
}

header, body, footer {
  padding-left: 260px;
}


@media only screen and (max-width : 992px) {
  header, body, footer {
    padding-left: 0;
  }
}
@media only screen and (min-width : 992px) {
  #opciones_login_sinco {
    position: relative;
	margin-right: 260px;
  }
}
.principal{
  /*background:url('/theme_sinco/static/src/img/background-principal.png') !important;*/
  background: rgb(214,218,220) !important;
  background-size: 100% auto !important;
  background-position: right !important;
}

li:hover{

  color: rgb(239,102,39) !important;

}
.seccion{
  background: #fff;
  border: ;
  border-radius: 5px;
  padding: 15px 20px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 1px 5px 0 rgba(0,0,0,0.12),0 3px 1px -2px rgba(0,0,0,0.2);
  width: 100%;
  position: relative;
  top:30px;
  min-height: 400px;
  }
.titulo{
  border-bottom: 4px solid #9e9e9e;
  padding: 5px;
  color: #37474f !important;
}
[type="radio"]:checked + label::after{
  background-color: teal;
}
[type="radio"]:checked + label {
  color: black;
}