
/*-----------------------------------------------------------------------------

KENBURNER RESPONSIVE BASIC STYLES OF HTML DOCUMENT

Screen Stylesheet

version:   	1.0
date:      	07/27/11
author:		themepunch
email:     	support@themepunch.com
website:   	http://www.themepunch.com
-----------------------------------------------------------------------------*/



.boxedcontainer		{	max-width: 1170px; margin:auto; padding:0px 30px;}

/*********************************************
	-	SETTINGS FOR BANNER CONTAINERS	-
**********************************************/

.tp-banner-container{
	width:100%;
	position:relative;
	padding:0;

}

.tp-banner{
	width:100%;
	position:relative;
}

.tp-banner-fullscreen-container {
		width:100%;
		position:relative;
		padding:0;

@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon/icomoon.eot');
    src:  url('../fonts/icomoon/icomoon.eot') format('embedded-opentype'),
        url('../fonts/icomoon/icomoon.ttf') format('truetype'),
        url('../fonts/icomoon/icomoon.woff') format('woff'),
        url('../fonts/icomoon/icomoon.svg') format('svg');

    font-weight: normal;
    font-style: normal;
}
        /* url('../fonts/icomoon.svg?tiamku#icomoon') format('svg');*/

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.icono-numero{
  color: white;
}
.icon-cinco-sinco:before {
    content: "\e901";
}
.icon-cuatro-sinco:before {
    content: "\e902";
}
.icon-dos-sinco:before {
    content: "\e903";
}
.icon-tres-sinco:before {
    content: "\e904";
}
.icon-uno-sinco:before {
    content: "\e905";
}
.icon-cero-sinco:before {
    content: "\e900";
}
.contenedor {
  margin: 0 auto;
  max-width: 1280px;
  width: 91%;
}
.botones-grandes{
  position: relative;
  width: 100%;
}
.boton1{
  background: url('/theme_sinco/static/src/img/banner-que-es-sinco.png');
  width: 20%;
  height: auto;
  background-size: 100% auto;
}
.boton1:hover{
  background: url('/theme_sinco/static/src/img/banner-que-es-sinco-apagado-sombra.png');
  width: 20%;
  height: auto;
  background-size: 100% auto;

}
